@model MVCI_Compendium.Models.ComboView
@{
    var isEditMode = Model.ComboId != null;
    ViewBag.Title = isEditMode ? "Edit Combo" : "Add New Combo";
}
<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-sm-6 col-xs-10">
        
            @if (isEditMode)
            {
              <form asp-controller="Home" asp-action="EditCombo" method="post" asp-route-ComboId =@Model.ComboId class="form-horizontal">

				  
				
					  <label asp-for="Inputs" class="control-label"/>
				  @foreach (var input in Model.Inputs)
				  {
                 <select class= "form-control" asp-for="@input.Input" name="@input.InputModelId"
                          asp-items="@Model.SelectInputs">
				 	<option disabled>@input.Input</option>
                  </select>
				  }
			  	<select class="form-control" asp-for="Type">
			  		<option disabled>Please select one</option>
			  		<option>BnB</option>
			  		<option>Flashy</option>
			  		<option>Blarg</option>
			  	</select>

			  	<select class="form-control" asp-for="Difficulty">
			  		<option disabled>Please select one</option>
				<option >Easy</option>
				<option >Medium</option>
				<option >Hard</option>
			  	</select>
				  
			  	<button type="submit" class="btn btn-primary">"Save"</button>
              </form>
                

            }


            
            @Html.ActionLink("Cancel", "Detail", null, new { @class = "btn btn-default" })
    </div>
</div>