
@model MVCI_Compendium.Models.CharacterViewModel

@{
    ViewData["Title"] = Model.Name + " Detail";

}
<div  class ="character-background container"style="
     background: url(/images/@Model.Name-background.jpg);
     margin: 0;
     no-repeat center center fixed
     height: auto;
     background-size: cover;
     img-responsive;
     ">
    <div class="transparent">
        <div class="card" style="width: 100%;">
            <img class="card-img-top" src= "/images/@Model.Icon">
            <div class="card-block">
                <h4 class="card-title">@Model.Name</h4>
                <p class="card-text">@Html.Raw(Model.Bio)</p>

                <div class="detail-btn">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#move-list">
                        Move List
                    </button>

                    <!-- Move List Modal -->
                    <div class="modal fade" id="move-list" tabindex="-1" role="dialog" aria-labelledby="MoveListModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="MoveList">@Model.Name  Move List</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <ul class="list-group">
                                            @foreach (var move in Model.Moves)
                                            {
                                                <text>@move.Name</text>
                                                <li class="list-group-item">
                                                    @foreach (var input in move.Inputs)
                                                    {
                                                        <img src="~/images/@input.GetIcon()"
                                                             class="icon inputIcon" alt="@input"/>
                                                    }
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#videos">
                        Videos
                    </button>

                    <!-- Video Modal -->
                    <div class="modal fade" id="videos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#combos">
                        Combos
                    </button>

                    <!-- Combo Modal -->
                    <div class="modal fade" id="combos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <ul class="list-group">
                                        @foreach (var combo in Model.Combos)
                                        {
                                            <text>@combo.Type | @combo.Difficulty</text>
                                            <li class="list-group-item comboList">
                                                @foreach (var input in combo.Inputs)
                                                {
                                                    foreach (var move in Model.Moves)
                                                    {
                                                        if (input.Input == move.Name)
                                                        {
                                                            <p>@input.Input</p>

                                                        }
                                                    }
                                                    <img src="~/images/@input.GetIcon()"
                                                         class="icon"/> <span>,</span>

                                                }
                                                | <a asp-action="ComboEdit" asp-controller="Home" asp-route-ComboId =@combo.ComboId>Edit</a>

                                                <a data-toggle="modal" href="@("#deletePersonModal" + combo.ComboId)">Delete</a>
                                                <div class="modal fade" id="@("deletePersonModal" + combo.ComboId)" tabindex="-1" role="dialog">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            @using (Html.BeginForm("Delete", "Home"))
                                                            {
                                                                <input type="hidden" value="@combo.ComboId" name="ComboId" />
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                    <h4 class="modal-title">Delete @combo.ComboId</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    Are you sure you want to delete @combo.ComboId?
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-primary">Yes</button>
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <a class="btn btn-primary" asp-action="ComboAdd" asp-controller="Home">Add</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#notes">
                        Notes
                    </button>

                    <!-- Notes Modal -->
                    <div class="modal fade" id="notes" tabindex="-1" role="dialog" aria-labelledby="Notes" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="NotesModal">@Model.Name  Notes</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form asp-controller="Home" asp-action="SaveNotes" method="post">
                                        <div class="form-group">
                                            <textarea asp-for="Notes" class="form-control">@Model.Notes</textarea>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button asp-type="submit" class="btn btn-primary">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


